In [2]:
import pandas as pd
import numpy as np
import csv

In [3]:
data = pd.read_csv('광진구 도로폭.csv',encoding='CP949')

In [4]:
data.columns

Index(['시군구', '위계', '광역구분', '종속구분', '도로명', '영문도로명', '고시일자', '시점', '종점', '도로폭',
       '도로고시길이', '도로물리길이', '기초간격', '부여사유', '부여방식', '부여일자', '부여사유설명',
       '도로구간일련번호'],
      dtype='object')

In [5]:
wide = data[['도로명','도로폭']]

In [6]:
wide

          도로명  도로폭
0        천호대로   52
1        강변북로   20
2        강변역로   39
3        광나루로   38
4         광장로   15
..        ...  ...
538  천호대로140길   10
539  천호대로141길    7
540  천호대로143길    9
541  천호대로145길    6
542   한강북자전거길    2

[543 rows x 2 columns]

In [7]:
wide_under_6 = wide[wide['도로폭'] <=6]

In [8]:
wide_under_6.count()

도로명    245
도로폭    245
dtype: int64

In [9]:
wide_under_6.reset_index()

     index       도로명  도로폭
0       21    강변역로2길    5
1       23   광나루로12길    6
2       24   광나루로13길    6
3       25   광나루로14길    6
4       27   광나루로16길    5
..     ...       ...  ...
240    531  천호대로131길    6
241    534  천호대로135길    5
242    537  천호대로138길    5
243    541  천호대로145길    6
244    542   한강북자전거길    2

[245 rows x 3 columns]

In [26]:
wide_under_6.to_csv('wide_under_6.csv',encoding = 'CP949')
wide.to_csv('wide.csv',encoding = 'CP949')

In [1]:
from geopy.geocoders import Nominatim

In [34]:
def geocoding(address):
    while True:
        geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
        geo = geolocoder.geocode(address)
        if geo == None:
            print(address)
            a = "1"
            return a
            break
        crd = [str(geo.latitude), str(geo.longitude)]#float로 하면 메모리 많이 잡아먹으니까 str으로 저장하고 사용할 때 float로 변경
        return crd
        break

In [35]:
geo_x_y = []
for i in wide['도로명']:
    a = geocoding(i)
    if a == "1":#지오코드로 위도경도가 없다면
        geo_x_y.append(geo_x_y[-1])#바로 이전에 추가한 위도경도를 추가한다.
    else:
        geo_x_y.append(a)

광나루로12길
광장로1나길
광장로7길
광장로9길
구의로10길
구의로12길
구의로14길
구의로1길
구의로8길
군자로9길
긴고랑로1길
긴고랑로27길
긴고랑로46가길
긴고랑로46나길
능동로11길
능동로1길
능동로3나길
동일로10가길
동일로10나길
뚝섬로28길
뚝섬로30가길
뚝섬로32가길
뚝섬로67가길
면목로15길
아차산로39가길
아차산로41가길
아차산로41길
아차산로59길
아차산로63길
영화사로20길
자양로19가길
자양로25길
자양번영로10길
중랑천동자전거길
천호대로131길
한강북자전거길

## 지오코드를 활용해서 광진구 내의 도로명 주소들의 경도위도 좌표를 구했다.
## 하지만 도로명 주소로 경도위도가 나오지 않는 경우가 있었다. 이에 대한 해결책으로
## ㄱㄴㄷ순으로 정렬된 도로명 주소의 특징을 활용하여 경도위도가 없을 경우 바로 앞의 경도 위도 값을 대입하였다.
## 일부 예외는 수작업으로 수정. - > 카카오 api

위도경도가 나오지 않은 도로명 주소
광나루로12길
광장로1나길
광장로7길
광장로9길
구의로10길
구의로12길
구의로14길
구의로1길
구의로8길
군자로9길
긴고랑로1길
긴고랑로27길
긴고랑로46가길
긴고랑로46나길
능동로11길
능동로1길
능동로3나길
동일로10가길
동일로10나길
뚝섬로28길
뚝섬로30가길
뚝섬로32가길
뚝섬로67가길
면목로15길
아차산로39가길
아차산로41가길
아차산로41길
아차산로59길
아차산로63길
영화사로20길
자양로19가길
자양로25길
자양번영로10길
중랑천동자전거길
천호대로131길
한강북자전거길

In [36]:
geo_x_y

[['37.5466502', '127.1732408'],
 ['37.3195968', '127.6284452'],
 ['37.5362962', '127.0941979'],
 ['37.548316', '127.0665212'],
 ['35.1626277', '128.9807519'],
 ['37.53552', '127.09211'],
 ['37.54152', '127.08992'],
 ['37.5446913', '127.1134486'],
 ['37.3640899', '126.7686518'],
 ['37.56369', '127.0782554'],
 ['37.5657003', '127.0841887'],
 ['37.7074535', '127.0562534'],
 ['37.6242653', '127.0734496'],
 ['37.5427804', '127.021923'],
 ['37.5925264', '127.0864975'],
 ['37.5407603', '127.0679553'],
 ['37.5525116', '127.0995989'],
 ['37.6137974', '127.1014054'],
 ['37.5439809', '127.0972081'],
 ['37.5411813', '127.0836592'],
 ['37.5356431', '127.0764146'],
 ['37.5372643', '127.0911827'],
 ['37.5352829', '127.09379'],
 ['37.5352829', '127.09379'],
 ['37.5490815', '127.0685421'],
 ['37.5475771', '127.0687855'],
 ['37.5498847', '127.069671'],
 ['37.5470944', '127.0693319'],
 ['37.5487957', '127.0727108'],
 ['37.5467058', '127.0721021'],
 ['37.5483513', '127.0732359'],
 ['37.5452096', '127.0749299'],
 ['37.546084', '127.074361'],
 ['37.5462575', '127.0756469'],
 ['37.5457265', '127.0749477'],
 ['37.5459287', '127.0755494'],
 ['37.5453422', '127.0791408'],
 ['37.5454108', '127.0773245'],
 ['37.5451434', '127.0787179'],
 ['37.5440731', '127.0829299'],
 ['37.5433624', '127.0815049'],
 ['37.5431465', '127.0820796'],
 ['37.5423977', '127.082829'],
 ['37.5451288', '127.0838085'],
 ['37.5449707', '127.0844408'],
 ['37.5461504', '127.0875251'],
 ['37.5435491', '127.0864008'],
 ['37.5458738', '127.0881557'],
 ['37.5431522', '127.0878508'],
 ['37.5456547', '127.0891817'],
 ['37.5429773', '127.0892067'],
 ['37.5447441', '127.0907094'],
 ['37.5414127', '127.0909637'],
 ['37.5415571', '127.0923084'],
 ['37.5420705', '127.0941864'],
 ['37.5422571', '127.0936119'],
 ['37.5400271', '127.0927517'],
 ['37.5391502', '127.0952275'],
 ['37.53781', '127.09669'],
 ['37.5482224', '127.100634'],
 ['37.547471', '127.1030548'],
 ['37.547471', '127.1030548'],
 ['37.5497895', '127.1023853'],
 ['37.547664', '127.1027899'],
 ['37.5485964', '127.1048619'],
 ['37.5485964', '127.1048619'],
 ['37.5485964', '127.1048619'],
 ['37.529916', '127.0890171'],
 ['37.5363797', '127.0914994'],
 ['37.535266', '127.0909877'],
 ['37.5384199', '127.0926533'],
 ['37.5386202', '127.0929833'],
 ['37.5386202', '127.0929833'],
 ['37.5433643', '127.0901104'],
 ['37.5433643', '127.0901104'],
 ['37.5433643', '127.0901104'],
 ['37.5437397', '127.0915066'],
 ['37.5437397', '127.0915066'],
 ['37.5400951', '127.0891489'],
 ['37.540428', '127.0916351'],
 ['37.5414127', '127.0909637'],
 ['37.5414127', '127.0909637'],
 ['37.5423006', '127.0881264'],
 ['37.5495054', '127.0724805'],
 ['37.5508234', '127.0705083'],
 ['37.5509357', '127.0717453'],
 ['37.552755', '127.0709276'],
 ['37.5545484', '127.073341'],
 ['37.5561332', '127.0768536'],
 ['37.5443802', '127.0717548'],
 ['37.5442669', '127.0701056'],
 ['37.5455561', '127.0717577'],
 ['37.5448549', '127.070369'],
 ['37.5455552', '127.0724009'],
 ['37.5465731', '127.0701187'],
 ['37.5465731', '127.0701187'],
 ['37.5616345', '127.0797368'],
 ['37.5646595', '127.082065'],
 ['37.5614397', '127.0802968'],
 ['37.5652695', '127.0831499'],
 ['37.5612197', '127.0809293'],
 ['37.562648', '127.0833258'],
 ['37.5598104', '127.0817603'],
 ['37.5632947', '127.0842824'],
 ['37.5624239', '127.0852328'],
 ['37.5624239', '127.0852328'],
 ['37.5590136', '127.0826955'],
 ['37.5606438', '127.0842583'],
 ['37.5613914', '127.085361'],
 ['37.5605059', '127.0856184'],
 ['37.5601243', '127.0854016'],
 ['37.5601243', '127.0854016'],
 ['37.5619545', '127.0864566'],
 ['37.5634625', '127.076917'],
 ['37.5589362', '127.0869315'],
 ['37.5611298', '127.0869371'],
 ['37.5596378', '127.0880166'],
 ['37.5596589', '127.0883733'],
 ['37.5578487', '127.0921098'],
 ['37.5599816', '127.0895832'],
 ['37.55897', '127.09005'],
 ['37.5594308', '127.0910574'],
 ['37.5657899', '127.0788203'],
 ['37.5578487', '127.0921098'],
 ['37.5591859', '127.0926917'],
 ['37.5587602', '127.0940544'],
 ['37.5591433', '127.0949558'],
 ['37.5606661', '127.0948084'],
 ['37.5606661', '127.0948084'],
 ['37.5601223', '127.0955795'],
 ['37.5601223', '127.0955795'],
 ['37.5611284', '127.095416'],
 ['37.561678', '127.0953678'],
 ['37.5628379', '127.0780359'],
 ['37.5642294', '127.0788004'],
 ['37.5627945', '127.0780106'],
 ['37.5640119', '127.0794286'],
 ['37.561565', '127.078102'],
 ['37.564859', '127.0814982'],
 ['37.5369534', '127.0711165'],
 ['37.5369534', '127.0711165'],
 ['37.54449', '127.0694089'],
 ['37.5451479', '127.072113'],
 ['37.5447699', '127.0746877'],
 ['37.5471214', '127.0705407'],
 ['37.5468693', '127.0727958'],
 ['37.5468693', '127.0727958'],
 ['37.5518361', '127.0758261'],
 ['37.5528976', '127.0758253'],
 ['37.551961', '127.0766914'],
 ['37.5529811', '127.0762274'],
 ['37.5527043', '127.0779714'],
 ['37.553591', '127.0753031'],
 ['37.5541718', '127.0765908'],
 ['37.5539537', '127.0754447'],
 ['37.5531477', '127.0779758'],
 ['37.5549837', '127.0775011'],
 ['37.5541014', '127.0772343'],
 ['37.5536366', '127.078978'],
 ['37.5563178', '127.077173'],
 ['37.5554482', '127.078579'],
 ['37.5540724', '127.0837004'],
 ['37.5570836', '127.0775605'],
 ['37.5565026', '127.0790563'],
 ['37.5583424', '127.0786277'],
 ['37.5574116', '127.0810666'],
 ['37.5588374', '127.0789101'],
 ['37.5332034', '127.0654906'],
 ['37.5335692', '127.0665157'],
 ['37.5335692', '127.0665157'],
 ['37.5332067', '127.0645064'],
 ['37.5342453', '127.0651394'],
 ['37.5344707', '127.0646068'],
 ['37.5578914', '127.0813402'],
 ['37.5601452', '127.0795855'],
 ['37.5588016', '127.0832811'],
 ['37.5614397', '127.0802968'],
 ['37.5605645', '127.0828012'],
 ['37.5607206', '127.0840571'],
 ['37.5633468', '127.0813451'],
 ['37.5629424', '127.0859535'],
 ['37.5618735', '127.0858074'],
 ['37.5646595', '127.082065'],
 ['37.5320251', '127.0701166'],
 ['37.5640405', '127.0853037'],
 ['37.5661935', '127.0827744'],
 ['37.5667195', '127.0832043'],
 ['37.5679631', '127.0845352'],
 ['37.5687821', '127.0843421'],
 ['37.5688009', '127.0847014'],
 ['37.5364836', '127.0665517'],
 ['37.5342269', '127.0689547'],
 ['37.5374705', '127.0668137'],
 ['37.5364687', '127.0700048'],
 ['37.5370999', '127.0689106'],
 ['37.5709548', '127.0804693'],
 ['37.5709708', '127.0808093'],
 ['37.5701754', '127.08125'],
 ['37.571021', '127.0819753'],
 ['37.5704738', '127.0826516'],
 ['37.5703523', '127.0838927'],
 ['37.5702885', '127.0844774'],
 ['37.5702163', '127.0850407'],
 ['37.5702163', '127.0850407'],
 ['37.5381847', '127.0634332'],
 ['37.5381847', '127.0634332'],
 ['37.537673', '127.0643011'],
 ['37.5393201', '127.0631213'],
 ['37.5393966', '127.0627371'],
 ['37.5390726', '127.0636424'],
 ['37.53895', '127.0645471'],
 ['37.5390686', '127.0661496'],
 ['37.5389415', '127.065127'],
 ['37.5405118', '127.0668855'],
 ['37.5416499', '127.0674994'],
 ['37.5431081', '127.0682804'],
 ['37.544978', '127.0678273'],
 ['37.5468584', '127.0668014'],
 ['37.5355818', '127.061943'],
 ['37.5475933', '127.0685291'],
 ['37.549335', '127.0690862'],
 ['37.5504665', '127.0696606'],
 ['37.5509298', '127.0695466'],
 ['37.5514729', '127.070474'],
 ['37.5518407', '127.070355'],
 ['37.5526747', '127.0705417'],
 ['37.5533391', '127.0708437'],
 ['37.5533578', '127.0715124'],
 ['37.5539937', '127.0713182'],
 ['37.5361699', '127.0623352'],
 ['37.5352842', '127.0640134'],
 ['37.5542097', '127.0717586'],
 ['37.5545518', '127.0720904'],
 ['37.5552881', '127.0725023'],
 ['37.5550151', '127.0728586'],
 ['37.555636', '127.074033'],
 ['37.5561097', '127.0745222'],
 ['37.5559998', '127.0748152'],
 ['37.5551429', '127.073735'],
 ['37.5573196', '127.0737703'],
 ['37.5579657', '127.0758005'],
 ['37.559469', '127.0757743'],
 ['37.5605089', '127.0760462'],
 ['37.5612552', '127.078275'],
 ['37.5624817', '127.0773227'],
 ['37.5639791', '127.0785298'],
 ['37.5655463', '127.0795285'],
 ['37.5666701', '127.0798317'],
 ['37.5693387', '127.0802473'],
 ['37.568205', '127.0815476'],
 ['37.5686708', '127.0802334'],
 ['37.5683942', '127.0809274'],
 ['37.5701754', '127.08125'],
 ['37.5352201', '127.0632505'],
 ['37.5356184', '127.0612713'],
 ['37.5379073', '127.0654803'],
 ['37.5374705', '127.0668137'],
 ['37.5347614', '127.0630491'],
 ['37.5366267', '127.0654425'],
 ['37.5364704', '127.0651649'],
 ['37.5344883', '127.0661053'],
 ['37.536557', '127.0661265'],
 ['37.536557', '127.0661265'],
 ['37.5367831', '127.0667964'],
 ['37.5367831', '127.0667964'],
 ['37.5346978', '127.067068'],
 ['37.5361645', '127.0671988'],
 ['37.5364436', '127.0679284'],
 ['37.5364436', '127.0679284'],
 ['37.5346978', '127.067068'],
 ['37.5364687', '127.0700048'],
 ['37.5329285', '127.0703885'],
 ['37.5353033', '127.0713147'],
 ['37.5317315', '127.0717171'],
 ['37.5332843', '127.0711738'],
 ['37.5351178', '127.0720196'],
 ['37.533507', '127.0729383'],
 ['37.5312169', '127.0718791'],
 ['37.5340589', '127.0750327'],
 ['37.5332559', '127.0763459'],
 ['37.5307434', '127.0757161'],
 ['37.5336095', '127.0777904'],
 ['37.5296862', '127.0764756'],
 ['37.5337809', '127.078708'],
 ['37.5306344', '127.0770957'],
 ['37.5325199', '127.0792127'],
 ['37.5310838', '127.0779279'],
 ['37.5335754', '127.0801186'],
 ['37.5305113', '127.080828'],
 ['37.5303492', '127.0788659'],
 ['37.5296926', '127.0815628'],
 ['37.5302343', '127.079603'],
 ['37.5291933', '127.0813103'],
 ['37.5288794', '127.0804296'],
 ['37.5297019', '127.08053'],
 ['37.5321404', '127.0818762'],
 ['37.5283532', '127.0841329'],
 ['37.5298042', '127.0821658'],
 ['37.5320244', '127.0818181'],
 ['37.5331433', '127.0830009'],
 ['37.5304242', '127.0837056'],
 ['37.5283532', '127.0841329'],
 ['37.5336777', '127.0836157'],
 ['37.5324798', '127.086668'],
 ['37.5318237', '127.0883931'],
 ['37.5330439', '127.0888302'],
 ['37.5324664', '127.0902279'],
 ['37.5324664', '127.0902279'],
 ['37.535266', '127.0909877'],
 ['37.5669667', '127.0805575'],
 ['37.5671432', '127.0834469'],
 ['37.5696137', '127.082011'],
 ['37.5696137', '127.082011'],
 ['37.5693978', '127.0837237'],
 ['37.5705455', '127.0819938'],
 ['37.5543986', '127.0739732'],
 ['37.5562761', '127.0740721'],
 ['37.5555838', '127.0761987'],
 ['37.5567537', '127.0737872'],
 ['37.5567627', '127.0765462'],
 ['37.5598342', '127.0763496'],
 ['37.5605146', '127.0775168'],
 ['37.5444699', '127.0668434'],
 ['37.5417903', '127.0646974'],
 ['37.5442928', '127.0679833'],
 ['37.5402398', '127.0648346'],
 ['37.5428985', '127.067241'],
 ['37.5401872', '127.0657996'],
 ['37.5431081', '127.0682804'],
 ['37.5396821', '127.0664605'],
 ['37.5425828', '127.0689288'],
 ['37.539866', '127.0674768'],
 ['37.5423219', '127.0698776'],
 ['37.5389698', '127.0680802'],
 ['37.5418162', '127.0705566'],
 ['37.5392766', '127.0694021'],
 ['37.5378234', '127.0741049'],
 ['37.5380836', '127.0753748'],
 ['37.5380836', '127.0753748'],
 ['37.5386235', '127.0769212'],
 ['37.5363051', '127.0781832'],
 ['37.5363051', '127.0781832'],
 ['37.5363051', '127.0781832'],
 ['37.5361166', '127.0788553'],
 ['37.5357791', '127.0797754'],
 ['37.5364568', '127.0796924'],
 ['37.5376674', '127.0807978'],
 ['37.5363749', '127.0815707'],
 ['37.5362057', '127.0802355'],
 ['37.5359239', '127.0813963'],
 ['37.53702', '127.0846413'],
 ['37.5396332', '127.084892'],
 ['37.5379671', '127.0858668'],
 ['37.5397487', '127.0864326'],
 ['37.5398811', '127.0884729'],
 ['37.5359101', '127.09021'],
 ['37.5379144', '127.0894646'],
 ['37.5358019', '127.0898615'],
 ['37.5358019', '127.0898615'],
 ['37.5386202', '127.0929833'],
 ['37.540428', '127.0916351'],
 ['37.5391244', '127.0935861'],
 ['37.5391244', '127.0935861'],
 ['37.5423162', '127.0924311'],
 ['37.541444', '127.0991034'],
 ['37.5428876', '127.0984083'],
 ['37.5392797', '127.0983829'],
 ['37.5463502', '127.1032694'],
 ['37.546228', '127.1042952'],
 ['37.5471189', '127.1071945'],
 ['37.5467113', '127.1076358'],
 ['37.5492285', '127.1091767'],
 ['37.5478992', '127.10863'],
 ['37.5554421', '127.0942372'],
 ['37.5552052', '127.094466'],
 ['37.5549714', '127.0946934'],
 ['37.5536311', '127.0955898'],
 ['37.5544052', '127.095984'],
 ['37.5531675', '127.0961767'],
 ['37.5582277', '127.0895702'],
 ['37.5582277', '127.0895702'],
 ['37.5574343', '127.0935345'],
 ['37.5578533', '127.0911847'],
 ['37.5570747', '127.0936925'],
 ['37.5567054', '127.0917041'],
 ['37.5571791', '127.0932663'],
 ['37.5570781', '127.094724'],
 ['37.5565581', '127.0937073'],
 ['37.5568431', '127.0952511'],
 ['37.5605978', '127.0881913'],
 ['37.5611983', '127.088075'],
 ['37.561799', '127.0879585'],
 ['37.5621276', '127.0878949'],
 ['37.5624227', '127.0878377'],
 ['37.5557233', '127.085395'],
 ['37.5627457', '127.0877751'],
 ['37.5620507', '127.0850268'],
 ['37.5636661', '127.0882127'],
 ['37.5659063', '127.0855776'],
 ['37.5652341', '127.087498'],
 ['37.5659063', '127.0855776'],
 ['37.5672688', '127.0867881'],
 ['37.5678699', '127.0861846'],
 ['37.5680906', '127.0869541'],
 ['37.5675845', '127.0879974'],
 ['37.5681174', '127.0879655'],
 ['37.5676012', '127.0891919'],
 ['37.5661319', '127.0848988'],
 ['37.555074', '127.0898437'],
 ['37.5680501', '127.0861503'],
 ['37.5691449', '127.0848278'],
 ['37.5693363', '127.0868453'],
 ['37.5699975', '127.0854073'],
 ['37.5700687', '127.0872083'],
 ['37.5708155', '127.0871844'],
 ['37.5567254', '127.0843354'],
 ['37.5564476', '127.0896179'],
 ['37.5574786', '127.0855843'],
 ['37.5573322', '127.0887924'],
 ['37.5594652', '127.0859312'],
 ['37.5630417', '127.0877177'],
 ['37.5596288', '127.0890954'],
 ['37.560256', '127.0896388'],
 ['37.5613637', '127.0893282'],
 ['37.56099', '127.0903615'],
 ['37.5609745', '127.0909399'],
 ['37.5284924', '127.0779421'],
 ['37.5338846', '127.0824421'],
 ['37.5346878', '127.0813712'],
 ['37.5330502', '127.0794998'],
 ['37.5346348', '127.0801609'],
 ['37.533021', '127.0783437'],
 ['37.5340385', '127.0783474'],
 ['37.5363281', '127.0846421'],
 ['37.5381339', '127.0865345'],
 ['37.5381339', '127.0865345'],
 ['37.5384403', '127.0813388'],
 ['37.5395107', '127.0821075'],
 ['37.5396939', '127.0857016'],
 ['37.5424733', '127.0815975'],
 ['37.5423228', '127.0831644'],
 ['37.542358', '127.0823426'],
 ['37.542358', '127.0823426'],
 ['37.5410325', '127.086969'],
 ['37.5432973', '127.0853845'],
 ['37.5420972', '127.0858058'],
 ['37.5441654', '127.0841471'],
 ['37.5314164', '127.0881084'],
 ['37.5431522', '127.0878508'],
 ['37.5441646', '127.0882775'],
 ['37.5477709', '127.0863085'],
 ['37.5457197', '127.087036'],
 ['37.5484575', '127.0858628'],
 ['37.5461504', '127.0875251'],
 ['37.5478853', '127.087632'],
 ['37.5485403', '127.0854639'],
 ['37.5464972', '127.0911124'],
 ['37.5491236', '127.0883938'],
 ['37.5293201', '127.0844977'],
 ['37.5305798', '127.0839974'],
 ['37.547771', '127.0902816'],
 ['37.5500668', '127.0895613'],
 ['37.5487775', '127.0914096'],
 ['37.5511317', '127.0910025'],
 ['37.5505439', '127.0943497'],
 ['37.5515367', '127.0955798'],
 ['37.5508469', '127.095114'],
 ['37.5508206', '127.0959433'],
 ['37.5539045', '127.0904232'],
 ['37.5506489', '127.093657'],
 ['37.5526422', '127.0917674'],
 ['37.5514271', '127.0940096'],
 ['37.5528323', '127.0919754'],
 ['37.5315567', '127.0868826'],
 ['37.5328612', '127.0924856'],
 ['37.5302762', '127.088052'],
 ['37.5529944', '127.0939208'],
 ['37.5513933', '127.0938536'],
 ['37.5540112', '127.0923149'],
 ['37.552818', '127.0941613'],
 ['37.5559072', '127.090805'],
 ['37.5529859', '127.0952511'],
 ['37.5304804', '127.083801'],
 ['37.5325609', '127.0874402'],
 ['37.5325039', '127.082828'],
 ['37.5327163', '127.0810967'],
 ['37.5327163', '127.0810967'],
 ['37.5369856', '127.0765146'],
 ['37.5368802', '127.0772711'],
 ['37.5376636', '127.0758453'],
 ['37.5308138', '127.0734922'],
 ['37.5304365', '127.0784288'],
 ['37.5306959', '127.0741694'],
 ['37.5321631', '127.0730672'],
 ['37.5312259', '127.0732139'],
 ['37.5316848', '127.0732072'],
 ['37.5318996', '127.0778268'],
 ['37.532642', '127.0743969'],
 ['37.5320101', '127.0774872'],
 ['37.535775', '127.0753888'],
 ['37.5342534', '127.0770155'],
 ['37.5361051', '127.0761296'],
 ['37.5361051', '127.0761296'],
 ['37.5605003', '127.07523'],
 ['37.5574284', '127.0734907'],
 ['37.5600767', '127.0757224'],
 ['37.5577063', '127.0749133'],
 ['37.5582467', '127.075483'],
 ['37.5571335', '127.0750396'],
 ['37.5593448', '127.0760835'],
 ['37.5588374', '127.0789101'],
 ['37.558734', '127.0817926'],
 ['37.5564108', '127.079761'],
 ['37.5582115', '127.0829527'],
 ['37.5542428', '127.0800908'],
 ['37.5586086', '127.0838391'],
 ['37.5540775', '127.0821009'],
 ['37.5564431', '127.0835668'],
 ['37.5540724', '127.0837004'],
 ['37.5588867', '127.0855356'],
 ['37.5535684', '127.0849882'],
 ['37.555431', '127.0861418'],
 ['37.5530599', '127.0862871'],
 ['37.5568182', '127.0866921'],
 ['37.553069', '127.0878705'],
 ['37.5575713', '127.0865609'],
 ['37.5522686', '127.0891866'],
 ['37.5544466', '127.0871449'],
 ['37.555074', '127.0898437'],
 ['37.5539684', '127.0914234'],
 ['37.5495265', '127.0878389'],
 ['37.5495265', '127.0878389'],
 ['37.5493735', '127.0891317'],
 ['37.5481493', '127.0897315'],
 ['37.5500342', '127.0922397'],
 ['37.547771', '127.0902816'],
 ['37.5499436', '127.0932787'],
 ['37.5477679', '127.0922517'],
 ['37.5441981', '127.1000923'],
 ['37.5462805', '127.1023063'],
 ['37.5463502', '127.1032694'],
 ['37.5458499', '127.1035945'],
 ['37.5458499', '127.1035945']]

In [37]:
print(len(wide['도로명']))
print(len(geo_x_y))

543
543

In [39]:
wide = wide.copy()
wide['위도경도'] = geo_x_y

In [40]:
wide.head()

    도로명  도로폭                       위도경도
0  천호대로   52  [37.5466502, 127.1732408]
1  강변북로   20  [37.3195968, 127.6284452]
2  강변역로   39  [37.5362962, 127.0941979]
3  광나루로   38   [37.548316, 127.0665212]
4   광장로   15  [35.1626277, 128.9807519]

In [41]:
wide_under_6 = wide[wide['도로폭'] <=6]

In [43]:
wide_under_6.head()

        도로명  도로폭                       위도경도
21   강변역로2길    5  [37.5372643, 127.0911827]
23  광나루로12길    6    [37.5352829, 127.09379]
24  광나루로13길    6  [37.5490815, 127.0685421]
25  광나루로14길    6  [37.5475771, 127.0687855]
27  광나루로16길    5  [37.5470944, 127.0693319]

## 지오코딩으로 구하지 못한 것들은 카카오api를 활용하자.

In [44]:
import requests, json

In [45]:
def get_location(address):
  url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
  # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
  # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
  headers = {"Authorization": "KakaoAK 1f43da856082215c9e7758b0e1c075a4"}
  api_json = json.loads(str(requests.get(url,headers=headers).text))
  address = api_json['documents'][0]['address']
  crd = [str(address['y']), str(address['x'])]
  address_name = address['address_name']

  return crd

In [46]:
geo_x_y = []
for i in wide['도로명']:
    a = geocoding(i)
    if a == "1":#지오코드로 위도경도가 없다면
        geo_x_y.append(geo_x_y[-1])#바로 이전에 추가한 위도경도를 추가한다.
    else:
        geo_x_y.append(a)

광나루로12길
광장로1나길
광장로7길
광장로9길
구의로10길
구의로12길
구의로14길
구의로1길
구의로8길
군자로9길
긴고랑로1길
긴고랑로27길
긴고랑로46가길
긴고랑로46나길
능동로11길
능동로1길
능동로3나길
동일로10가길
동일로10나길
뚝섬로28길
뚝섬로30가길
뚝섬로32가길
뚝섬로67가길
면목로15길
아차산로39가길
아차산로41가길
아차산로41길
아차산로59길
아차산로63길
영화사로20길
자양로19가길
자양로25길
자양번영로10길
중랑천동자전거길
천호대로131길
한강북자전거길

### 카카오나 지오나 똑같다

==> 다시 수작업

데이터가 더 필요하다면 
119 긴급신고 접수현황 https://www.bigdata-119.kr/goods/goodsInfo?goods_id=202212000063
화재출동 현황 https://www.bigdata-119.kr/goods/goodsInfo?goods_id=202212000070

In [48]:
wide_under_6.to_csv('wide_under_6_xy.csv',encoding = 'CP949')
wide.to_csv('wide.csv_xy.csv',encoding = 'CP949')

In [49]:
data = pd.read_csv('광진구 도로폭 위도경도수정.csv',encoding='CP949')

# 지도에 시각화

In [52]:
import folium

In [55]:
data.head()

   Unnamed: 0   도로명  도로폭                           위도경도
0           0  천호대로   52  ['37.5466502', '127.1732408']
1           1  강변북로   20  ['37.3195968', '127.6284452']
2           2  강변역로   39  ['37.5362962', '127.0941979']
3           3  광나루로   38   ['37.548316', '127.0665212']
4           4   광장로   15  ['35.1626277', '128.9807519']

In [58]:
for i in data[:3]:
    print(i)

Unnamed: 0
도로명
도로폭
위도경도

In [54]:
m = folium.Map(location = [map(float,data['위도경도'][0])], zoom_start=14)
m

ValueError: Expected two (lat, lon) values for location, instead got: [<map object at 0x000001F04D8BD460>].